/.vs/*
/Source/.vs/*
bin
*.cache
*.dll
*.pdb
obj
/DataSet/*
!/DataSet/Templates/*
!/DataSet/Source/ModelTrain/*.py
!/DataSet/Source/TestDatasetCreating/*.py
/Libs/packages/*
/Source/**/Debug/**/*
/Source/**/Release/**/*
/Build/*
/Source/ElementsRecognation/Deep-Reinforcement-Learning-Algorithms-with-PyTorch-master/*
/Source/ElementsRecognation/data/*
Info.txt
/Source/ElementsRecognation/.vs
