<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name = "Main" connectionString = "Data Source=localhost\MSSQLSERVER14;Initial Catalog=PrgTrainerDb;User ID=PRGTrainerAdmin;Password=uP%61qP_l;"/>
  </connectionStrings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>