<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key = "telegramToken" value = "658772381:AAG4avIoRQ5kpsCE2XZI8V2BEd3KKggKtEc" />
  </appSettings>
  <connectionStrings>
    <add name = "Tasks" connectionString = "Data Source=localhost\MSSQLSERVER14;Initial Catalog=TasksDb;User ID=PRGTrainerUser;Password=Uglr0_e3;"/>
    <add name = "UserStatistics" connectionString = "Data Source=localhost\MSSQLSERVER14;Initial Catalog=PrgTrainerDb;User ID=PRGTrainerUser;Password=Uglr0_e3;"/>
  </connectionStrings>
</configuration>